node_modules/
.git/
windows_installer/
dist/
msi/
msi-packager.js
.DS_Store
package-lock.json
*.js
*.d.ts
!castlabs-sign.js
!ultrawide_patcher.js
*.map
!renderers/main/injection.js
!renderers/main/offline_banner.js
!renderers/main/titleBar.js