.material-symbols-outlined {
    font-family: 'Material Symbols';
    font-size: 16pt;
}

@font-face {
    font-family: 'Material Symbols';
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 48;
    font-smoothing: 'antialiased';
    src: url(./MaterialSymbolsOutlined[FILL\,GRAD\,opsz\,wght].ttf);
}